nav {
    background-color: #1A182D;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.branding {
    max-height: 85px;
    padding: 20px 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #24A1EB;
}